*{
	margin: 0;
	padding: 0;
	font-size: 0;
}

body {
background: #dfdfdf;

	font-family: 'Ubuntu';
}

.container{
	background: #afafaf;
	width: 80%;
	height: 100%;
	margin: 0 auto;
	position: relative;
	text-align: justify;
}

header {
	font-size: 14px;
	background: #648cff;
	height: 40px;
	width: 100%;
}

.logo {
	font-weight: bold;
	display: inline-block;
	line-height: 40px;
	font-size: 18px;
	color: #fff;
	width: 27%;
}

.nav	{
	background: orange;
	
	display: inline-flex;
	justify-content: space-between;

	vertical-align: top;
	height: 100%;
	width: 46%;
	text-align: justify;
}

.nav ul {
	justify-content: space-between;

}

.nav ul, .nav li {
	list-style: none;
	color: #fff;
	font-size: 0;
	height: 100%;
	line-height: 40px;
	display: inline-block;
}



.nav a {
	text-decoration: none;
	font-size: 14px;
	color: #fff;
}

.social {
	right: 0;
	background: purple;
	display: inline-block;
	margin-right: 0;
	width: 27%;
	height: 100%;
	padding-right: 0;
}

.social a {
	height: 100%;
	margin-right: 10%;
	line-height: 40px;
}

.social a:first-of-type {
	margin-left: 50%;
}

.social a:last-of-type { 
	margin-right: 0;
}

.social svg {
	margin-top: 6%;
	display: inline-block;
}



/*first-screen*/

.first-screen {
	font-size: 14px;
	background: #648cff;
	width: 100%;
}

.left_block {
	margin-top: 30%;
}

.first-screen .text .first {
	font-size: 30px;
	color: #fff;
}

.first-screen .text .second {
	font-size: 20px;
	color: #fff;
}