*{
	margin: 0;
	padding: 0;
	font-size: 0;
	box-sizing: border-box;
	transition: .2s;
}

body {
background: #fff;
/*min-height: 6000px;*/
	font-family: 'Ubuntu';
}

.container{
	/*background: #afafaf;*/
	width: 70%;
	height: 100%;
	margin: 0 auto;
	position: relative;
}



/*Header*/


header {
	background: #648cff;
	height: 40px;
	width: 100%;
}

header .logo {
	vertical-align: top;
	font-weight: bold;
	display: inline-block;
	line-height: 40px;
	font-size: 0;
	color: #fff;
	width: 27%;
}

header .logo div {
	vertical-align: top;
	display: inline-block;
	line-height: 40px;
	font-size: 14px;
	color: #fff;
}

header .nav	{
	/*background: orange;*/
	
	display: inline-block;

	vertical-align: top;
	height: 100%;
	width: 46%;
}


header .nav ul {
	width: 100%;
	position: relative;
	display: inline-block;
	margin: 0 auto;
}

header .nav li {
	width: 25%;
	border-radius: 3px;
	list-style: none;
	display: inline-block;
	text-align: center;
}

header .nav ul, .nav li {
	font-size: 0;
	height: 100%;
	line-height: 40px;
}



header .nav a {
	text-decoration: none;
	font-size: 12px;
	color: #fff;
	height: 100%;
	width: 100%;
	/*padding: 0 25%;*/
}

header .social {
	/*background: purple;*/
	display: inline-block;
	width: 27%;
	height: 100%;
	display: relative;
	vertical-align: top;
}

header .social ul {
	position: absolute;
	right: 0;
	
	display: inline-block;
	line-height: 40px;
	height: 100%;
}

header .social li {
	vertical-align: middle;
	list-style: none;
	display: inline-block;
	height: 23px;
	width: 16px;
	margin-right: 30px;
	line-height: 40px;
	border-radius: 8px
}


header .social li:last-of-type { 	
	margin-right: 0;
}






/*first-screen*/
 
.first-screen {
	position: relative;
	background: #648cff;
	/*background: url(first-screen/bg_wave_1.png), url(first-screen/bg_wave_2.png) no-repeat bottom;*/
	font-size: 0;
 z-index: -3;
 }


.first-screen .left-block {
 	width: 50%;
 	display: inline-block;
 	vertical-align: top;
 	font-size: 0;
 	position: relative;
 	padding-top: 80px;
 }

.first-screen .left-block h1 {
	width: 82.051282051%;
	font-size: 40px;
	color: #fff;
	font-weight: 700;
	font-style: bold;
}

.first-screen .left-block p {
	font-size: 12px;
	line-height: 20px;
	margin-top: 40px;
	color: #fff;
	width: 66.153860625%;	
}


.first-screen .left-block a {
	text-align: center;
	line-height: 35px;
	width: 27.35042735%;
	height: 35px;
	font-size: 12px;
	margin-right: 3%;
	margin-top: 12%;
	background: #fc6a42;
	font-family: 'Ubuntu';
	color: #fff;
	text-decoration: none;
	display: inline-block;
	border-radius: 4px;
}

.first-screen .left-block a:last-of-type {
	margin-right: 0;
	background: #4466c9;
} 

.first-screen .right-block {
 	width: 50%;
 	display: inline-block;
 	vertical-align: top;
 	font-size: 0;
	margin-top: 90px;

	height: 350px; 
}

.first-screen .right-block .phone-image {
	background-image: url(first-screen/phone-n-circles.png);
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
	overflow: visible;

	height: 100%;
}

.first-screen .scroll {
	text-align: center;
	margin-top: 35px;
	transform: scale(.8);
}


.background-shit{
	position: absolute;
	bottom: -45px;
	width: 100%;
	height: 100%;
	z-index: -1;

	background-repeat: no-repeat;
	background-image: url(first-screen/bg_wave_1.png) ;
	background-size: contain;
	background-position: bottom;
}

.background-shit-another {
	position: absolute;
	bottom: -44px;
	width: 100%;
	height: 100%;
	z-index: -2;

	background-repeat: no-repeat;
	background-image: url(first-screen/bg_wave_2.png) ;
	background-size: contain;
	background-position: bottom;
}






/*Features*/


.block-top {
	display: block;
	padding-top: 150px;
	padding-bottom: 120px;
	margin: 0 auto;
	
}

.block-top h1 {
	font-size: 30px;
	color: #648cff;
	text-align: center;
	font-style: bold;
}

.block-top p {
	font-size: 16px;
	padding-top: 20px;
	text-align: center;
	color: #999;
}

.block-bottom .uni-block {
	width: 33%;
}

.block-bottom .pic, .block-bottom .pic svg,.block-bottom .uni-block, .block-bottom .uni-block .text {
	display: inline-block;
}

.block-bottom .pic {
	transform: scale(.8);
	vertical-align: top;
}

.block-bottom .uni-block .text h1 {
	font-size: 18px;
	color: #000;
	font-style: bold;
	vertical-align: top;
	display: inline-block;
	width: 111%;
}

.block-bottom .uni-block .text p {
	padding-top: 15px;
	font-size: 11px;
	color: #aeaeae;
	display: inline-block;
	text-align: justify;
	line-height: 16px;
}

.block-bottom .uni-block .text {
	width: 60%;
}





/*Widgets*/

.widgets {
}

.widgets .text-block {
	text-align: center;
	margin-top: 180px;
	width: 100%;
}

.widgets .text-block h1 {
	font-size: 30px;
	color: #648cff;
	text-align: center;
	font-style: bold;
}

.widgets .text-block p {
	font-size: 16px;
	padding-top: 20px;
	padding-bottom: 50px;
	text-align: center;
	color: #999;
}

.widgets .main-block {
	position: relative;
	width: 100%;
	min-height: 500px;
	padding: 0 2%;
}

.widgets .main-block .button-l {
	display: inline-block;
	position: absolute;
	left: 2%;
	top: 44%;
	width: 2.5%;
	height: 52px;
	background-image: url(Widgets/button-l.png);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	vertical-align: middle;
}

.widgets .main-block .button-r {
	display: inline-block;
	position: absolute;
	right: 2%;
	top: 44%;
	width: 2.5%;
	height: 52px;
	background-image: url(Widgets/button-r.png);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	vertical-align: middle;
}

.widgets .main-block .widgets-pic {
	display: inline-block;
	background-image: url(Widgets/widgets-pic.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;

	margin: 0 auto;	
	width: 70%;
	margin: 0 16.2%;
	min-height: 500px;
	vertical-align: top;
}





/*Screenshots*/


.screenshots {
	padding-top: 150px;	
} 

.screenshots .text-block {
	padding-bottom: 80px;
}

.screenshots .text-block h1 {
	font-size: 30px;
	color: #648cff;
	text-align: center;
	font-style: bold;
}

.screenshots .text-block p {
	font-size: 16px;
	padding-top: 20px;
	padding-bottom: 50px;
	text-align: center;
	color: #999;
}


.screenshots .phone-block {
	width: 100%;
}

.screenshots .phone-block .phone {
	width: 35%;
	height: 605px;
	background-image: url(Screenshots/phone-n-circles-1.png); 
	background-size: contain;
	background-repeat: no-repeat;
	margin: 0;
	display: inline-block;
}

.screenshots .phone-block .info {
	display: inline-block; 
	width: 60%;
	vertical-align: top;
	padding-left: 15%;
	padding-top: 10%;
}

.screenshots .phone-block .info svg {
	transform: scale(.7);
}

.screenshots .phone-block .info .text {
	padding-top: 5%;
	padding-bottom: 5%;
}

.screenshots .phone-block .info .text h1 {
	font-size: 30px;
	color: #648cff;
	font-style: bold;
	margin-bottom: 5%;
}
.screenshots .phone-block .info .text p {
	font-size: 18px;
	color: #000;
	text-align: left;
}

.screenshots .phone-block .info .tab {
	width: 40%;
	height: 70px;
	background-image: url(Screenshots/tab.png);
	background-position: top left;
	background-size: contain;
	background-repeat: no-repeat;
}

.screenshots .phone-block.sun .info {
	padding-left: 0;
}

.screenshots .phone-block.sun .info .text p {
	width: 60%;
}

.screenshots .phone-block.sun .phone {
	background-image: url(Screenshots/phone-n-circles-2.png); 

}

.screenshots .phone-block.rain .phone {
	background-image: url(Screenshots/phone-n-circles-3.png); 

}

.screenshots .phone-block:last-of-type .phone{
	min-height: 450px;	
}



/*Reviews*/

.reviews {
	padding-top: 50px;
	padding-bottom: 80px;
}

.reviews .top-block h1 {
	font-size: 30px;
	color: #648cff;
	text-align: center;
	font-style: bold;
}

.reviews .top-block p {
	font-size: 16px;
	padding-top: 20px;
	padding-bottom: 50px;
	text-align: center;
	color: #999;
}

.reviews .text-block {
	display: inline-block;
	width: 50%;
	vertical-align: top;
	padding-right: 5%;
}

.reviews .text-block h1 {
	font-size: 100px;
	color: #648cff;
	font-weight: 400;
	height: 60px;
}

.reviews .text-block p {
	display: inline-block;
	font-size: 18px;
	color: #000;
	text-align: left
}

.reviews .text-block h1:last-of-type {
	text-align: right;
}

.reviews .text-block p:last-of-type {
	padding-top: 5%;
}




/*Downloads*/

.downloads {
	background-image: url(Downloads/bg-phone.png);
	background-position: bottom center;
	background-size: cover;
	max-height: 466px;
}

.downloads .main-block {
	display: inline-block;
	width: 40%;
	padding-top: 70px;
	padding-bottom: 60px;
	vertical-align: top;
}

.downloads .main-block h1 {
	font-size: 30px;
	color: #fff;
	text-align: left;
	font-style: bold;
}

.downloads .main-block p {
	margin-top: 20px;
	width: 70%;
	font-size: 16px;
	color: #fff;
	text-align: left;
	line-height: 20px;
}

.downloads .main-block .links {
	margin-top: 20px;
	height: 45px;
	width: 60%;
	position: relative;
}

.downloads .main-block .links .app-store {
	background-image: url(Downloads/link-app-store.png);
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
	display: inline-block;
	height: 100%;
	width: 48%;
}

.downloads .main-block .links .google-play {
	position: absolute;
	right: 0;	

	background-image: url(Downloads/link-google-play.png);
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
	display: inline-block;
	height: 100%;
	width: 48%;
	text-align: right;
}


.downloads .image-block {
	display: inline-block;
	width: 60%;
	padding-left: 10%;
	height: 400px;

	background-image: url(Downloads/phone-pic.png);
	background-position: bottom;
	background-repeat: no-repeat;
	background-size: contain;
}



/*Footer*/

footer  {
	background: #353854;
	height: 300px;
	width: 100%;
	padding-top: 60px;
	
	position: relative;
}

footer .menu {
	height: 40px;
	width: 100%;
	margin-bottom: 50px;
}

footer .logo {
	vertical-align: top;
	font-weight: bold;
	display: inline-block;
	line-height: 40px;
	font-size: 0;
	width: 27%;
}

footer .logo div p {
	display: inline-block;
	color: #fc6a42;

	line-height: 40px;
	font-size: 14px;
}

footer .logo div p:first-of-type {
	color: #648cff;
	margin-right: 4px;
}



footer .nav	{
	/*background: orange;*/
	
	display: inline-block;

	vertical-align: top;
	height: 100%;
	width: 46%;
}

footer .nav ul {
	width: 100%;
	position: relative;
	display: inline-block;
	margin: 0 auto;
}

footer .nav li {
	width: 25%;
	border-radius: 3px;
	text-align: center;
	list-style: none;
	display: inline-block;
}

footer .nav ul, .nav li {
	font-size: 0;
	height: 100%;
	line-height: 40px;
}



footer .nav a {
	text-decoration: none;
	font-size: 12px;
	color: #fff;
	height: 100%;
	width: 100%;
	/*padding: 0 25%;*/
}

footer .social {
	/*background: purple;*/
	display: inline-block;
	width: 27%;
	height: 100%;
	display: relative;
	vertical-align: top;
}

footer .social ul {
	position: absolute;
	right: 0;
	
	display: inline-block;
	line-height: 40px;
	height: 100%;
}

footer .social li {
	vertical-align: middle;
	list-style: none;
	display: inline-block;
	height: 23px;
	width: 16px;
	margin-right: 30px;
	line-height: 40px;
}


footer .social li:last-of-type { 	
	margin-right: 0;
}

footer .bottom .str {
	background: #434769;
	width: 100%;
	height: 5px;
}	

footer .bottom p {
	padding-top: 30px;
	padding-right: 50px;
	text-align: right;
	font-size: 12px;
	color: #565b87;
}

footer .btn {
	position: absolute;
	right: 5%;
	bottom: 0;
	width: 30px;
	height: 30px;
	background: #434769;
	border-radius: 4px 4px 0 0;
	background-image: url(footer/arrow.png);
	background-position: center;
	background-repeat: no-repeat;
	background-size: 10px;
}





/*Animation*/

.nav li:hover {
	transform: scale(1.1);
	box-shadow:  0 0 10px rgba(0,0,0,0.5);
	transition: .5s;
}

.social li:hover {
	transform: scale(1.1);
	box-shadow:  0 0 10px rgba(100, 26, 255,0.5);
	transition: .5s;
}

.downloads .links div:hover {
	transform: scale(1.1);
	transition: .5s;
}

.first-screen .left-block a:hover {
	transform: scale(1.1);
	box-shadow:  2px 2px 10px rgba(100, 26, 255,0.5);
}



/*Media queries*/

@media screen and (max-width: 640px) {
	
	

	.container{
		width: 80%;
	}
	
	.first-screen .background-shit,
	.first-screen .background-shit-another {
		bottom: -20px;
	}

	.first-screen .right-block,
	.first-screen .left-block {
		display: block;
		width: 100%;
		text-align: center;
	}

	.first-screen .right-block {
		margin-top: 60px;
	}


	.first-screen .left-block h1,
	.first-screen .left-block p {
		margin: 20px auto;
		width: 100%;
	}

	.first-screen .left-block a {
		margin-top: 20px;
	}

	.features .block-top {
		padding-top: 80px;
    padding-bottom: 60px;
	}

	.features .block-bottom {
		text-align: center;
	}

	.features .block-bottom .uni-block {
		margin: 20px 0;
		display: inline-block;
		width: 70%;
		text-align: center;
	}
	
	.widgets .text-block {
		margin-top: 80px;
	}
	
	.widgets .main-block,
	.widgets .main-block .widgets-pic {
		min-height: 250px;
	}

	.screenshots {
		padding-top: 80px;
	}

	.screenshots .text-block {
		padding-bottom: 0;
	}

	.screenshots .phone-block .phone {
		background-position: 50% 30%;
		height: 400px;
	}

	.screenshots .phone-block .info .text h1 {
		font-size: 25px;
	}
	.screenshots .phone-block .info .text p {
		font-size: 14px;
	}

	.downloads .main-block {
		width: 80%;
	}
}


@media screen and (max-width: 480px) {
	
	.first-screen .left-block h1 {
		line-height: 40px;
	}

	.first-screen .left-block p {
		width: 80%;
	}


}


@media screen and (max-width: 320px) {
	
	.block-bottom .uni-block .text {
		width: 80%;
	}

	
	.first-screen .left-block h1 {
		font-size: 35px;
	}

	.first-screen .left-block p {
		width: 80%;
	}

	.reviews .text-block h1 {
		font-size: 80px;
		height: 40px;
	}

	.reviews .text-block p {
		font-size: 14px;
	}

}