*{
	margin: 0;
	padding: 0;
	font-size: 0;
	box-sizing: border-box;
}

body {
background: #fff;
min-height: 6000px;
	font-family: 'Ubuntu';
}

.container{
	/*background: #afafaf;*/
	width: 70%;
	height: 100%;
	margin: 0 auto;
	position: relative;
	text-align: justify;
}



/*Header*/


header {
	font-size: 14px;
	background: #648cff;
	height: 40px;
	width: 100%;
}

.logo {
	vertical-align: top;
	font-weight: bold;
	display: inline-block;
	line-height: 40px;
	font-size: 0;
	color: #fff;
	width: 27%;
}

.logo div {
	vertical-align: top;
	display: inline-block;
	line-height: 40px;
	font-size: 14px;
	color: #fff;
}

.nav	{
	/*background: orange;*/
	
	display: inline-block;

	vertical-align: top;
	height: 100%;
	width: 46%;
	text-align: justify;
}

.nav:after{
	content: '';
	display: inline-block;
	width: 100%;
	height: 1px;
	font-size: 0;
}

.nav ul {
	display: inline-flex;
	justify-content: space-between;
	/*text-align: justify;*/
	margin: 0 auto;
}

.nav li {
	list-style: none;
	display: inline-block;
}

.nav ul, .nav li {
	font-size: 0;
	height: 100%;
	line-height: 40px;
}



.nav a {
	text-decoration: none;
	font-size: 12px;
	color: #fff;
	height: 100%;
	width: 100%;
	/*padding: 0 25%;*/
}

.social {
	/*background: purple;*/
	display: inline-block;
	width: 27%;
	height: 100%;
	display: relative;
	vertical-align: top;
}

.social ul {
	position: absolute;
	right: 0;
	
	display: inline-block;
	line-height: 40px;
	height: 100%;
}

.social li {
	vertical-align: middle;
	list-style: none;
	display: inline-block;
	height: 23px;
	width: 16px;
	margin-right: 30px;
	line-height: 40px;
}


.social li:last-of-type { 	
	margin-right: 0;
}






/*first-screen*/
 
.first-screen {
	position: relative;
	background: #648cff;
	/*background: url(first-screen/bg_wave_1.png), url(first-screen/bg_wave_2.png) no-repeat bottom;*/
	font-size: 0;
 z-index: -3;
 }

.background-shit{
	position: absolute;
	bottom: -45px;
	width: 100%;
	height: 100%;
	z-index: -1;

	background-repeat: no-repeat;
	background-image: url(first-screen/bg_wave_1.png) ;
	background-size: contain;
	background-position: bottom;
}

.background-shit-another {
	position: absolute;
	bottom: -44px;
	width: 100%;
	height: 100%;
	z-index: -2;

	background-repeat: no-repeat;
	background-image: url(first-screen/bg_wave_2.png) ;
	background-size: contain;
	background-position: bottom;
}



.first-screen .left-block {
 	width: 50%;
 	display: inline-block;
 	vertical-align: top;
 	font-size: 0;
 }

.first-screen .text {
	width: 82.051282051%;
	font-size: 40px;
	color: #fff;
	margin-top: 140px;
	font-weight: 700;
	font-style: bold;
}

.first-screen .text:last-of-type {
	font-size: 12px;
	line-height: 20px;
	margin-top: 40px;
	width: 66.153860625%;	
}

.first-screen button {
	width: 27.35042735%;
	height: 35px;
	font-size: 12px;
	outline:inherit;
	border: none;
	margin-right: 3%;
	margin-top: 12%;
	background: #fc6a42;
	font-family: 'Ubuntu';
	color: #fff;
	display: inline-block;
	border-radius: 4px;
}

.first-screen button:last-of-type {
	margin-right: 0;
	background: #4466c9;
} 

.first-screen .right-block {
 	width: 50%;
 	display: inline-block;
 	vertical-align: top;
 	font-size: 0;
	margin-top: 90px;

	height: 350px; 
}

.first-screen .right-block .phone-image {
	background-image: url(first-screen/phone-n-circles.png);
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
	overflow: visible;

	height: 100%;
}

.first-screen .scroll {
	text-align: center;
	margin-top: 35px;
	transform: scale(.8);
}





/*Features*/


.block-top {
	display: block;
	padding-top: 150px;
	padding-bottom: 120px;
	margin: 0 auto;
	
}

.block-top h1 {
	font-size: 30px;
	color: #648cff;
	text-align: center;
	font-style: bold;
}

.block-top p {
	font-size: 16px;
	padding-top: 20px;
	text-align: center;
	color: #999;
}

.block-bottom .uni-block {
	width: 33%;
}

.block-bottom .pic, .block-bottom .pic svg,.block-bottom .uni-block, .block-bottom .uni-block .text {
	display: inline-block;
}

.block-bottom .pic {
	transform: scale(.8);
	vertical-align: top;
}

.block-bottom .uni-block .text h1 {
	font-size: 18px;
	color: #000;
	font-style: bold;
	vertical-align: top;
	display: inline-block;
	width: 111%;
}

.block-bottom .uni-block .text p {
	padding-top: 15px;
	font-size: 11px;
	color: #aeaeae;
	display: inline-block;
	text-align: justify;
	line-height: 16px;
}

.block-bottom .uni-block .text {
	width: 60%;
}





/*Widgets*/

.widgets {
}

.widgets .text-block {
	text-align: center;
	margin-top: 180px;
	width: 100%;
}

.widgets .text-block h1 {
	font-size: 30px;
	color: #648cff;
	text-align: center;
	font-style: bold;
}

.widgets .text-block p {
	font-size: 16px;
	padding-top: 20px;
	padding-bottom: 50px;
	text-align: center;
	color: #999;
}

.widgets .main-block {
	position: relative;
	width: 100%;
	height: 659px;
	padding: 0 2%;
}

.widgets .main-block .button-l {
	display: inline-block;
	margin-top: 303.5px;
	width: 28px;
	height: 52px;
	background-image: url(Widgets/button-l.png);
	vertical-align: middle;
}

.widgets .main-block .button-r {
	display: inline-block;
	position: absolute;
	right: 2%;
	top: 303.5px;
	width: 28px;
	height: 52px;
	background-image: url(Widgets/button-r.png);
	vertical-align: middle;
}

.widgets .main-block .widgets-row-1 {
	display: inline-block;
	background-image: url(Widgets/widget-1.png);
	width: 317px;
	height: 565px;
	position: absolute;
	top: 7.435508346%;
	left: 10%;
	z-index: -1
}

.widgets .main-block .widgets-row-2 {
	display: inline-block;
	background-image: url(Widgets/widget-2.png);
	width: 370px;
	height: 659px;
	position: absolute;
	left: 29%;
	z-index: 1;
	margin: 0 auto;
}

.widgets .main-block .widgets-row-3 {
	display: inline-block;
	background-image: url(Widgets/widget-3.png);
	width: 317px;
	height: 565px;
	position: absolute;
	top: 7.435508346%;
	right: 10%;
	z-index: -1;	
}





/*Screenshots*/


.screenshots {
	padding-top: 150px;	
} 

.screenshots .text-block {
	padding-bottom: 80px;
}

.screenshots .text-block h1 {
	font-size: 30px;
	color: #648cff;
	text-align: center;
	font-style: bold;
}

.screenshots .text-block p {
	font-size: 16px;
	padding-top: 20px;
	padding-bottom: 50px;
	text-align: center;
	color: #999;
}


.screenshots .phone-block {
	width: 100%;
}

.screenshots .phone-block .phone {
	width: 35%;
	height: 605px;
	background-image: url(Screenshots/phone-n-circles-1.png); 
	background-size: contain;
	background-repeat: no-repeat;
	margin: 0;
	display: inline-block;
}

.screenshots .phone-block .info {
	display: inline-block; 
	width: 60%;
	vertical-align: top;
	padding-left: 15%;
	padding-top: 10%;
}

.screenshots .phone-block .info svg {
	transform: scale(.7);
}

.screenshots .phone-block .info .text {
	padding-top: 5%;
	padding-bottom: 5%;
}

.screenshots .phone-block .info .text h1 {
	font-size: 30px;
	color: #648cff;
	font-style: bold;
	margin-bottom: 5%;
}
.screenshots .phone-block .info .text p {
	font-size: 18px;
	color: #000;
	text-align: left;
}

.screenshots .phone-block .info .tab {
	width: 40%;
	height: 70px;
	background-image: url(Screenshots/tab.png);
	background-position: top left;
	background-size: contain;
	background-repeat: no-repeat;
}

.screenshots .phone-block.sun .info {
	padding-left: 0;
}

.screenshots .phone-block.sun .info .text p {
	width: 60%;
}

.screenshots .phone-block.sun .phone {
	background-image: url(Screenshots/phone-n-circles-2.png); 

}

.screenshots .phone-block.rain .phone {
	background-image: url(Screenshots/phone-n-circles-3.png); 

}

.screenshots .phone-block:last-of-type .phone{
	min-height: 450px;	
}



/*Reviews*/

.reviews {
	padding-top: 50px;
	padding-bottom: 80px;
}

.reviews .top-block h1 {
	font-size: 30px;
	color: #648cff;
	text-align: center;
	font-style: bold;
}

.reviews .top-block p {
	font-size: 16px;
	padding-top: 20px;
	padding-bottom: 50px;
	text-align: center;
	color: #999;
}

.reviews .text-block {
	display: inline-block;
	width: 50%;
	vertical-align: top;
	padding-right: 5%;
}

.reviews .text-block h1 {
	font-size: 100px;
	color: #648cff;
	font-weight: 400;
	height: 60px;
}

.reviews .text-block p {
	display: inline-block;
	font-size: 18px;
	color: #000;
	text-align: left
}

.reviews .text-block h1:last-of-type {
	text-align: right;
}

.reviews .text-block p:last-of-type {
	padding-top: 5%;
}




/*Downloads*/

.downloads {
	background-image: url(Downloads/bg-phone.png);
	background-position: bottom center;
	background-size: cover;
	max-height: 466px
}

.downloads .main-block {
	display: inline-block;
	width: 40%;
	padding-top: 70px;
	padding-bottom: 60px;
	vertical-align: top;
}

.downloads .main-block h1 {
	font-size: 30px;
	color: #fff;
	text-align: left;
	font-style: bold;
}

.downloads .main-block p {
	margin-top: 20px;
	width: 70%;
	font-size: 16px;
	color: #fff;
	text-align: left;
	line-height: 20px;
}

.downloads .main-block .links {
	margin-top: 20px;
	height: 45px;
	width: 60%;
	position: relative;
}

.downloads .main-block .links .app-store {
	background-image: url(Downloads/link-app-store.png);
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
	display: inline-block;
	height: 100%;
	width: 48%;
}

.downloads .main-block .links .google-play {
	position: absolute;
	right: 0;	

	background-image: url(Downloads/link-google-play.png);
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
	display: inline-block;
	height: 100%;
	width: 48%;
	text-align: right;
}


.downloads .image-block {
	display: inline-block;
	width: 60%;
	padding-left: 10%;
	height: 400px;

	background-image: url(Downloads/phone-pic.png);
	background-position: bottom;
	background-repeat: no-repeat;
	background-size: contain;
}
